* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.container-small{
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
html{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
.mr-6{
    margin-right: 6px;
}
.ml-6{
    margin-left: 6px;
}
.no-margin{
    margin: 0;
}
/* -----------------------------------------header-------------------------------------------------------------------------------- */
.header{
    padding-top: 50px;
}
.header .wrapper-header{
    display: grid;
    grid-template-areas: "logo contacts"
                          "logo nav";
}
.header .logo-block{
    grid-area: logo;
}
.header .contacts-list{
    grid-area: contacts;
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
}
.header .nav-list{
    grid-area: nav;
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    margin-left: 80px;
}
.header .contacts-li{
    padding-right: 6px;
}
.header .laguage-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.63px;
    color: #B3B3BA;
    padding: 5px 7px 5px 7px;
    transition: 0.5s ease;
}
.header .laguage-link:hover{
   background-color: #F0145A;
   color: white;
   border-radius: 8px;
}
.header .adress-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.5px;
    color: #B3B3BA;
    margin-right: 6px;
    margin-left: 6px;
}
.header .numer-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    color: #B3B3BA;
    margin-right: 6px;
    margin-left: 6px;
}
.header .nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    color: #24A3FF;
    margin-right: 15px;
}