* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: calc(1110px + 2rem);
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: auto;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
.mr-10{
    margin-right: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
/* ------------------------------------menu */
.menu{
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    background-color: #333333;
    border-bottom: 3px solid #009eff;
    position: relative;
}
.products-menu{
    display: none;
}
.sub-menu{
    display: none;
}
.menu-li{
    display: inline-block;
}
.menu-link:hover{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #009eff;
}
.menu-link::after {
    content: '+';
    color: #fff; 
    margin-left: 3px;
    font-weight: bold; 
}
.menu-li:hover .products-menu{
    display: block;
    position: absolute;
    top: calc(100% + 3px);
    left: 8%;
}

.product-link{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #009eff;
    border: 1px solid #0084ef;
    width: 250px;
    display: block;
    margin: 0;
}

.products-li:hover .sub-menu{
    display: block;
    position: absolute;
}
.sub-link{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #009eff;
    border: 1px solid #0084ef;
}